<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Section 2: JavaScript Language Basics</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    </head>

    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script>
$.ajax({
    type:'POST',
    url:'/getSimilaruser',
    contentType:'application/json',
    dataType:'json',
    data: JSON.stringify({
        id:"A1UUFPECPCLDXL",
        limit:10
    }),
    success: function(response) {
        
        $('#prodname1').text(JSON.stringify(response.data[0].id));
        $('#prodname2').text(JSON.stringify(response.data[1].id));
        $('#prodname3').text(JSON.stringify(response.data[2].id));
        $('#prodname4').text(JSON.stringify(response.data[3].id));
        $('#prodname5').text(JSON.stringify(response.data[4].id));
       
    },
    error: function() {
        console.log("Critical Error");
    }
})
</script>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Recommender System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
    <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
        
         <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Similar User Name : <span class="text-muted"><span id="prodname1"></span></h2>
      <p class="lead">This product is very good and i have been using it from years and it is been comfort and and good product to use.</p>
      <form action="/forward/" method="post">
        <button name="forwardBtn" type="submit">View Details</button>
    </form>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="1.jpg" alt="Generic placeholder image" style="width: 285px; border-radius=50%;">
    </div>
   localStorage.setItem("firstname",url);

   localStorage.setItem("firstname",url);

  <hr class="featurette-divider">

  <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Similar User Name : <span class="text-muted"><span id="prodname2"></span></h2>
          <p class="lead" id="prod1">The product is good to use and working fine for the purpose and making fine for purpose.</p>
          <form action="/forward/" method="post">
            <button name="forwardBtn" type="submit">View Details</button>
        </form>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="female.jpeg" alt="Generic placeholder image" style="width: 285px; border-radius:50%;">
        </div>
      </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Similar User Name :<span class="text-muted" id="prodname3"></span></h2>
      <p class="lead"  id="prod3">The product is average product to use and been going good and it is working fine.</p>
      <form action="/forward/" method="post">
        <button name="forwardBtn" type="submit">View Details</button>
    </form>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="male1.jpeg" alt="Generic placeholder image" style="width: 285px; border-radius: 50%;">
    </div>
  </div>

  <hr class="featurette-divider">
        
         <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Similar User Name:<span class="text-muted" id="prodname4"></span></h2>
      <p class="lead"  id="prod4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      <form action="/forward/" method="post">
        <button name="forwardBtn" type="submit">View Details</button>
    </form>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="female1.png" alt="Generic placeholder image" style="width: 285px; border-radius: 50%;">
    </div>
  </div>

  <hr class="featurette-divider">
        
         <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Similar User Name :<span class="text-muted" id="prodname5">Checkmate.</span></h2>
      <p class="lead" id="prod5">The product is going good and been fine to use and the product is going good and it is making use of it.</p>
      <form action="/forward/" method="post">
        <button name="forwardBtn" type="submit">View Details</button>
    </form>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="1.jpg" alt="Generic placeholder image" style="width: 285px;border-radius: 50%">
    </div>
  </div>

  <hr class="featurette-divider">
    </body>

</html>